.navbar-custom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 3.5vw;
    width: 100vw;
    background-color: black;
    position: fixed;
}

.navbar-custom ul{
    display: flex;
    font-size: 1.25vw;
    padding: 0.5vw;
}

.navbar-custom li {
    margin-right: 10px;
    align-items: center;
    color: white;
    list-style-type: none;
}

.link-c {
    align-content: center;
}

.link-c:hover {
    background-color: #323232;
}

.logo {
    margin-left: auto;
}

/* The Hamburger button */
.btn.btn-primary.hamburger { /* Thanks duck! again.. */
    display: none;
}

#hamburger-menu {
    display: none;
    width: 25vw;
    height: 100vh;
    background-color: black;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger-bar {
    display: none;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media only screen and (max-width: 800px) {
    /* The Hamburger button (other rules) */
    .btn.btn-primary.hamburger {
        display: block;
    }

    .hamburger-bar {
        display: block;
    }



    .navbar-custom {
        height: 5.5vw;
    }

    .navbar-custom ul {
        display: none;
    }


}

